@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
    --dark-blue: #6fd3fa;
    --white: #ffffff;
    --blue: #dafff0;
    --shadow: #8f9699;
    --balck: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
header,
main,
footer,
#buttonAudio,
.container,
.cards,
.card,
.view,
.progress {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--blue);
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

header {
    width: 460px;
    gap: 2rem;
    margin: 10px 0;
}

h1 {
    font-family: "Roboto", sans-serif;
    color: var(--balck);
}

#buttonAudio {
    border: none;
    background-color: var(--white);
    width: 3rem;
    height: 3rem;
    box-shadow: 0 1px 5px var(--shadow);
    border-radius: 15px;
}

#buttonAudio:active {
    opacity: 0.7;
}

#buttonAudio img {
    width: 2rem;
    height: 2rem;
}

#buttonAudio img#play {
    display: none;
}

main {
    flex-direction: column;
}

.container {
    background-color: var(--dark-blue);
    padding: 1rem;
    border-radius: 1rem;
    width: 460px;
    height: 460px;
}

.cards {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
}

.card {
    list-style: none;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
    width: 6rem;
    height: 6rem;
}

.card.shake {
    animation: shake 0.35s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-15px);
    }
    40% {
        transform: translateY(15px);
    }
    60% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.view {
    user-select: none;
    pointer-events: none;
    position: absolute;
    background: var(--white);
    backface-visibility: hidden;
    transition: transform 0.25s linear;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 3px 10px var(--shadow);
}

.view.back img,
.view.front img {
    width: 4rem;
}

.view.back {
    transform: rotateY(-180deg);
}

.card.move .view.front {
    transform: rotateY(180deg);
    transition: ease-in-out 250ms;
}

.card.move .view.back {
    transform: rotateY(0);
    transition: ease-in-out 250ms;
}

.progress {
    width: 460px;
    height: 50px;
    background-color: var(--dark-blue);
    margin-top: 5px;
    border-radius: 15px;
    justify-content: space-evenly;
}

.progress p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.progress button {
    padding: 5px 15px;
    background-color: var(--dark-blue);
    border: 2px solid var(--balck);
    border-radius: 3px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.progress button:active {
    border-color: var(--white);
    color: var(--white);
}

footer {
    width: 460px;
    border-top: 2px solid var(--balck);
    margin-top: 1em;
    padding: 10px 0 10px 0;
}

footer p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--balck);
}

@media (max-width: 550px) {
    header {
        width: 400px;
        gap: 1rem;
    }

    h1 {
        font-size: 25px;
    }

    main {
        transition: ease-in-out 2s linear;
    }

    .container {
        width: 400px;
        height: 400px;
    }

    .cards {
        gap: 1rem;
    }

    .card {
        width: 4.2rem;
        height: 4.2rem;
    }

    .view.back img,
    .view.front img {
        width: 3rem;
    }

    .progress {
        width: 400px;
    }

    footer {
        width: 400px;
    }
}

@media (max-width: 350px) {
    body {
        background-color: var(--blue);
    }

    header {
        width: 300px;
    }

    .container {
        width: 300px;
        height: 300px;
    }
    .cards {
        gap: 0.5rem;
    }

    .card {
        width: 3.5rem;
        height: 3.5rem;
    }

    .view.back img,
    .view.front img {
        width: 2.5rem;
    }

    .progress {
        width: 300px;
    }

    footer {
        width: 300px;
    }
}
